.btn-custom {
    color: #fff;
    background-color: #007bff;
    border-color: #003f82;
    font-weight: bolder; 
}
.btn-custom-alter {
    color: #fff;
    background-color: #05611c;
    border-color: #003f82;
    font-weight: bolder; 
}
.alert-item {
    padding : 0;
    margin : 0;
    line-height : 12x;
}
.filename {
    margin-top : 10px;
}
.slidecontainer {
  width: 100%;
}
.slider {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #FFFF;
    color: #04AA6D !important;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slider:hover {
    opacity: 1;
  }
slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 90px;
    height: 90px;
    border-radius: 90%;
    color: #04AA6D !important;
    background: #04AA6D !important;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 90px;
    height: 90px;
    border-radius: 90%;
    color: #04AA6D !important;
    background: #04AA6D !important;
    cursor: pointer;
  }
.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: bold; */ 
    font-family:  Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: #212529;
    color: white;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.2;
}
.main-image {
    width: "30vw";
    min-width:"400px";
    display: table-cell;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.larger-text {
    font-weight: bolder; 
    font-size:larger;
}
.body
{
    font-family:  Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

  input[type="file"]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: #a29bfe;
    transition: 1s;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }
  input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
  }