.btn-custom {
    color: #fff;
    background-color: #007bff;
    border-color: #003f82;
    font-weight: bolder; 
    
}
.title {
    font-weight: bolder; 

}
.custom-background {
    background-image: url(./pexels-matthew-montrone-1374295.jpg);
    height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    }