.btn-custom {
    color: #fff;
    background-color: #007bff;
    border-color: #003f82;
    font-weight: bolder; 
    
}
.title {
    font-weight: bolder; 

}
.larger-text {
    font-weight: bolder; 
    font-size:larger;
}
